.icon{
	&.icon380{
		background-image:url('../images/icon/img380.png');
	}
	&.icon381{
		background-image:url('../images/icon/img381.png');
	}
	&.icon383{
		background-image:url('../images/icon/img383.png');
	}
	&.icon384{
		background-image:url('../images/icon/img384.png');
	}
	&.icon385{
		background-image:url('../images/icon/img385.png');
	}
	&.icon386{
		background-image:url('../images/icon/img386.png');
	}
}